* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

#header {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

#title {
    border: 0.5rem solid #8700B3;
    padding: 0.4em;
    border-radius: 2rem;
    font-size: 48px;
    color: #8700B3;
    box-shadow: 
    0 0 .2rem #8700B3,
    0 0 .2rem #8700B3,
    0 0 2rem #8700B3,
    0 0 0.8rem #8700B3,
    0 0 2.8rem #8700B3,
    inset 0 0 1.3rem #8700B3;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 400px;
    border: 0.5rem solid #60007F;
    border-radius: 2rem;
    box-shadow: 
    0 0 .2rem #60007F,
    0 0 .2rem #60007F,
    0 0 2rem #60007F,
    0 0 0.8rem #60007F,
    0 0 2.8rem #60007F,
    inset 0 0 1.3rem #60007F;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 30vh;
    border-radius: 1.4rem;
    border: 0.5rem solid #60007F;
    background-color: #BF0A5D;
    padding-right: 10px;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    height: 15vh;
    text-align: center;
}

#result-text {
    font-weight: bold;
    font-size: 72px;
    color: #CCBA14;
}

#line-1-display, #line-2-display, #line-3-display {
    height: 5vh;
    font-size: 24px;
    color: #CCBA14;
    font-weight: bold;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    border-radius: 1.4rem;
    border: 0.5rem solid #60007F;
    background-color: #CC3314;
    padding-right: 10px;
}